.lambda-link {
  color: inherit;
  text-decoration: none;
  padding-bottom: $spacing-3xs / 4;
  border-bottom: 1px solid $color-grey-400;

  &:hover {
    font-weight: $font-weight-bold;
    transition: $transition-fast;
  }
}

.typesetting-article {
  h2,
  .heading-h2 {
    margin-top: $spacing-2xl;
    margin-bottom: $spacing-m;
  }

  h3,
  .heading-h3 {
    margin-top: $spacing-l;
    margin-bottom: $spacing-m;
  }
}
