.fade-enter-active {
  transition: $transition-default;
  transition-delay: 0.2s;
}

.fade-delay-enter-active {
  transition: $transition-default;
  transition-delay: 1s;
}

.fade-enter,
.fade-delay-enter {
  opacity: 0;
}
